[submodule ".registry"]
	path = .registry
	url = https://github.com/txwri/txwri.r-universe.dev
	branch = HEAD
[submodule "SELECTRdata"]
	path = SELECTRdata
	url = https://github.com/TxWRI/SELECTRdata
[submodule "adc"]
	path = adc
	url = https://github.com/TxWRI/adc
[submodule "ldc"]
	path = ldc
	url = https://github.com/TxWRI/ldc
[submodule "twriTemplates"]
	path = twriTemplates
	url = https://github.com/TxWRI/twriTemplates
[submodule "wd4tx"]
	path = wd4tx
	url = https://github.com/TxWRI/wd4tx
